@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Dancing+Script:wght@400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lacquer&family=Manrope:wght@200..800&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  @apply bg-black
}

@layer base {
  /* This will apply the focus style globally to all inputs and textareas */
  input:focus,
  textarea:focus,
  select:focus {
    outline: none; /* Removes the default outline */
    border-color: theme('colors.golden') !important; /* Use the golden color defined in tailwind.config.js */
    box-shadow: 0 0 0 0px rgba(194, 161, 113, 0.4); /* Optional: Add a slight glow effect */
  }
}
